.main-div{
height: 100vh;
}

/* Login */

.login-title{
  text-align: center;
  margin: 0;
  padding: 50px 0 50px 0;
}
.login-bottom{
  width: 100%;
}
.form-reg-div, .form-login-div{
  height: 80%;
  width: 100%;
  padding: 3% 23% 5% 23%;
}
@media (max-width: 770px) {
  .form-reg-div,.form-login-div{
    padding: 3% 10% 5% 10%;
  }
}
.form-reg, .form-login{
  padding: 40px 10% 40px 10%;
  border: solid grey 2px;
  border-radius: 15px;
}
.button-center{
  text-align: center;
  padding-top: 30px;
}
.button-style{
  border-radius: 25px !important;
}
.login-font{
  font-size: 1.3rem !important;
}

/* Dashboard */
nav{
  padding: 25px 20px 25px 0px;
  border-bottom: solid lightgrey 1px !important;
}
.custom-style{
  font-size: 1.4rem;
  color: black;
  padding: 10px 5px 10px 5px;
  margin-left: 50px;
  position: relative;
}
@media (max-width: 475px) {
  .custom-style{
    font-size: 1.2rem;
    margin-left: 35px;
  }
  .resp{
    padding: 10px !important;
  }
  .login-font{
    font-size:1rem !important;
  }
}
.custom-style:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}
.custom-style:hover:before{
  visibility: visible;
  transform: scaleX(1);
}
.logout-style{
  font-size: 1.3rem !important;
}

/* Transaction */
.trans-contain{
  height: 85vh;
  overflow-y: scroll;
  padding: 30px 20% 30px 20%;
}
@media (max-width: 750px) {
  .trans-contain{
    padding: 30px 5% 30px 5%;
  }
}
.card-style{
  font-size:1.2rem !important;
}
.card-style-2{
  font-size:1.4rem !important;
}
/* Portfolio */
.left-column{
}
.grid-style{
  padding: 0 50px 0 50px !important;
}

@media (max-width: 750px) {
  .grid-style{
    display: flex !important;
    flex-direction: column !important;
  }
  .wel-bud{
    flex-direction: column;
    padding: 25px 30px 30px 30px;
  }
  .welcome-back{
    font-size: 1.6rem;
  }
  .budget-style{
    font-size: 1.6rem;
  }
  .top-grid{
    width: 75vw !important;
  }
  .resp-card{
    width: 75vw !important;
  }
}

.welcome-back{
  margin: 0;
}
.budget-style{
  margin: 0;
}
.wel-bud{
  padding: 25px 60px 50px 60px;
  display: flex;
  justify-content: space-between;
}
.qty-style{
  width: 100% !important;
}
.button-position{
  float: right;
}
.no-stock{
  text-align: center;
}
.red-back{
  background: rgba(255,0,0,.5) !important;
}
.green-back{
  background: rgba(0,255,0,.5) !important;
}
.grey-back{
  background: rgba(211,211,211,.5) !important;
}
